header {
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;

    .header__block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__wrap {
            width: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                width: 250px;
                display: flex;
                justify-content: space-between;

                li {
                    font-size: 16px;
                    list-style: none;
                    

                    a {
                        font-size: 16px;
                        color: #939CAA;
                        text-decoration: none;
                    
                    &:active {
                        border: 2px solid #FCB72B;
                        color: #FCB72B;
                        background-color: transparent;
                    }
                }
                }
            }
        }
        .header__links{
            width: 130px;
            height: 40px;
            background: #FCB72B;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-decoration: none;
                color: #fff;
                
            }
        }

    }
}

@media only screen and (max-width: 768px){

    header {
        width: 100%;
        height: 75px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Kdam Thmor Pro', sans-serif;

    
        .header__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .header__wrap {
                width: 450px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                ul {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
    
                    li {
                        font-size: 16px;
                        list-style: none;
                        
    
                        a {
                            font-size: 16px;
                            color: #939CAA;
                            text-decoration: none;
                        
                        &:active {
                            border: 2px solid #FCB72B;
                            color: #FCB72B;
                            background-color: transparent;
                        }
                    }
                    }
                }
            }
            .header__links{
                width: 130px;
                height: 40px;
                background: #FCB72B;
                display: flex;
                justify-content: center;
                align-items: center;
    
                a{
                    text-decoration: none;
                    color: #fff;
                    
                }
            }
    
        }
    }
    
    
    
}
